@font-face {
    font-family: "Legendaria";
    font-style: normal;
    
    src: local("Legendaria"),
         url("../fonts/newfonts/LegendariaUse.woff2") format("woff2"),
  }

  @font-face {
    font-family: "Archking";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/newfonts/ArchkingFreeUse.woff2") format("woff2"),
  }

  @font-face {
    font-family: "Tilda";
    font-style: normal;
   
    src: local("Tilda"),
         url("/fonts/newfonts/TildaScriptUse.woff2") format("woff2"),
  }

  @font-face {
    font-family: "WakeSnake";
    font-style: normal;
  
    src: local("WakeSnake"),
         url("/fonts/newfonts/WakeSnake1use.woff2") format("woff2"),
  }

  @font-face {
	font-family: 'Beer money';
	src: url('../fonts/newfonts/beermoney.woff2') format('woff2'), url('../fonts/newfonts/beermoney.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Christmas ScriptC';
	src: url('../fonts/newfonts/ChristmasScriptC.woff2') format('woff2'), url('ChristmasScriptC.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url('../fonts/newfonts/AnonymousPro-Bold.woff2') format('woff2'), url('AnonymousPro-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

.Logotext{
font-family: 'Beer money';
font-size: 3em;
}

.Logotext2 {
font-family:'Christmas ScriptC';
font-size: 3em;
}

.opisAn{

font-family:'Anonymous Pro';
font-size: 3em;
}


.opisAn2{

  font-family:'Anonymous Pro';
  font-size: 2em;
  }